<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Customer reservations screen</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>

<div th:if="${noReservationsMessage}">
  <h2 th:text="${noReservationsMessage}"></h2>
</div>

<div th:if="${noCustomerReservationsMessage}">
  <h2 th:text="${noCustomerReservationsMessage}"></h2>
</div>

<div th:if="${reservations}" class="list">
  <h2>You have the following reservations:</h2>

  <table>
    <thead>
    <tr>
      <th>Space</th>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="reservation : ${reservations}">
      <td th:text="${reservation.spaceName}"></td>
      <td th:text="${#temporals.format(reservation.date, 'dd/MM/yyyy')}"></td>
      <td th:text="${#temporals.format(reservation.startTime, 'HH:mm')}"></td>
      <td th:text="${#temporals.format(reservation.endTime, 'HH:mm')}"></td>
    </tr>
    </tbody>
  </table>
</div>

<form th:action="@{/customer-menu}" method="get">
  <div class="container exit">
    <button type="submit">Back to the customer menu</button>
  </div>
</form>

</body>

</html>
